@import 'mixins.scss';
.App {
    text-align: center;
    font-size: 1em;
}

.app-body {
    @include flex-center(row, center, center);
    padding: 1em;
    font-size: calc(10px + 2vmin);
}

.App-header {
    background-color: #282c34;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}