@import 'mixins.scss';
.history {
    // @include flex-center(column, center, center);
    width: 50%;
    margin: 2%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.history-header {
    font-size: 1.3em;
    font-style: bold;
}

.history-item {
    width: 90%;
    font-size: 1em;
    padding: 1em;
    font-size: 1em;
    line-height: 70px;
    &.history-item-link {
        color: red;
    }
}